.project-info-container {
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
  padding: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2e3133;
  padding-bottom: 0.6rem;
}

.header button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header .link {
  font-size: 0.9rem;
}

.section-heading {
  font-weight: 400;
  margin-bottom: 4px;
}

.project-title {
  margin: 0;
  font-size: 1.275rem;
}

.short-description,
.long-description {
  font-size: 0.8rem;
  font-weight: 200;
  margin: 0;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.technologies-section .section-heading {
  margin-bottom: 0.4rem;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
}

.svg-heading-pair {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.svg-heading-pair .section-heading {
  margin: 0;
}

div > .svg-heading-pair {
  margin-bottom: 6px;
}

.svg-heading-pair svg {
  fill: white;
  width: 16px;
}

.link {
  font-weight: 600;
  overflow-wrap: break-word;
  font-size: 0.75rem;
  cursor: pointer;
}

.link:hover,
.open-project-button:hover .link {
  text-decoration: underline;
}

.open-project-button {
  position: sticky;
  bottom: 0;
  padding: 1em;
  background: rgb(69, 74, 77);
  background: linear-gradient(
    180deg,
    rgba(69, 74, 77, 1) 0%,
    rgba(22, 23, 24, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.open-project-text .link {
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
}

.open-project-text svg {
  fill: white;
  width: 18px;
  margin-left: 0.5rem;
}
