.social-links-wrapper {
  display: none;
}

@media (min-width: 800px) {
  .social-links-wrapper {
    display: flex;
    gap: 2rem;
  }

  .social-links-wrapper svg {
    width: 20px;
    fill: var(--secondary-text-grey);
    transition: fill 0.4s;
  }

  .social-links-wrapper svg:hover {
    fill: var(--link-hover);
  }
}
