.social-links-wrapper {
  display: none;
}

.social-links-wrapper a {
  padding: 0.2em;
}

.social-links-wrapper a:focus-visible svg {
  fill: var(--link-hover);
}

.social-links-wrapper a:focus-visible {
  outline: 1px solid blue;
  border-radius: 10px;
}

@media (min-width: 1090px) {
  .social-links-wrapper {
    display: flex;
    gap: 2rem;
  }

  .social-links-wrapper svg {
    width: 20px;
    fill: var(--secondary-text-grey);
    stroke: var(--secondary-text-grey);
    transition: all 0.4s;
  }

  .social-links-wrapper svg:hover {
    fill: var(--link-hover);
    stroke: var(--link-hover);
  }
}
