.social-links-wrapper {
  display: none;
}

@media (min-width: 800px) {
  .social-links-wrapper {
    display: flex;
    gap: 2rem;
  }

  .social-links-wrapper svg {
    width: 20px;
    fill: rgba(255, 255, 255, 0.67);
  }
}
