.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  color: var(--secondary-text-grey);
  padding: 0;
  cursor: pointer;
  transition: color 0.4s;
}

.button:hover,
.button:focus {
  color: var(--link-hover);
}

.button span {
  font-size: 1.3rem;
}

.button svg {
  fill: var(--secondary-text-grey);
  width: 25px;
}
