.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  color: var(--secondary-text-grey);
  padding: 0.2em;
  cursor: pointer;
  transition: color 0.4s;
}

.button:hover {
  color: var(--link-hover);
}

.button:focus-visible {
  color: var(--link-hover);
  outline: 1px solid blue;
  border-radius: 10px;
}

.button span {
  font-size: 1.3rem;
}

.button svg {
  fill: var(--secondary-text-grey);
  width: 25px;
}
