.theme-toggle {
  position: relative;
  width: 70px;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  gap: 10px;
  cursor: pointer;
  background: var(--button-background-grey);
}

.theme-toggle svg {
  width: 30px;
  fill: var(--primary-text);
}

.theme-toggle:focus-visible {
  outline: 1px solid blue;
}

.circle-container {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0.3em;
}

.circle-container[data-is-dark="true"] {
  justify-content: flex-end;
}

.circle {
  background: var(--primary-text);
  aspect-ratio: 1;
  border-radius: 50%;
  height: 100%;
}
