::before,
::after,
* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  margin: 0;
}

:root {
  --primary-black: #0a0a0a;
}

/* [data-theme='dark'] { */
/* } */

html,
body {
  overflow-x: hidden;
  font-size: 16px;
  overscroll-behavior: none;
  overflow: var(--hidden);
}

[data-hidden="hidden"] {
  --hidden: hidden;
}

body {
  background-color: var(--primary-black);
  color: white;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
