::before,
::after,
* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  margin: 0;
}

* {
  outline: none;
}

:root {
  --primary-background: #0a0a0a;
  --primary-text: #fff;
  --secondary-text-grey: rgba(255, 255, 255, 0.64);
  --button-background-grey: rgb(39, 39, 43);
  --button-hover: rgb(55, 55, 63);
  --link-hover: #fff;
  --form-input-grey: #262626;
  --form-placeholder-grey: #262626;
}

[data-theme="light"] {
  --primary-background: #fff;
  --primary-text: #000;
  --secondary-text-grey: rgba(0, 0, 0, 0.64);
  --button-background-grey: rgb(245, 245, 250);
  --button-hover: rgb(217, 217, 231);
  --link-hover: #000;
  --form-input-grey: rgba(0, 0, 0, 0.64);
  --form-placeholder-grey: #d1d5db;
}

html,
body {
  overflow-x: hidden;
  font-size: 16px;
  overscroll-behavior: none;
  overflow: var(--hidden);
}

[data-hidden="hidden"] {
  --hidden: hidden;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
