::before,
::after,
* {
  box-sizing: border-box;
}

:root {
  /* --primary-green: #2bae66; */
  --primary-purple: #502cde;
  --primary-background-white: #f5f5f5;
  --primary-background-black: #161618;
}

html,
body {
  overflow-x: hidden;
  font-size: 16px;
  background-color: var(--primary-background-white);
  color: var(--primary-background-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.highlight {
  /* background-color: rgb(43, 174, 102, 0.6); */
  background-color: #9dde16;
  padding-inline: 0.2em;
}

/*
Dark styles
  background-color: rgb(22, 22, 24);
  color: var(--primary-background-white);

*/
