.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  padding: 0.5em 1em;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.purple {
  color: var(--primary-logo);
}

.logo .made {
  font-weight: 400;
}

.logo svg {
  fill: var(--primary-logo);
  width: 50px;
}

.upside-down {
  display: inline-block;
  transform: rotateX(180deg) translateY(0.05rem);
}

.letter-spacing {
  letter-spacing: -0.06rem;
}

.not-bold {
  font-weight: 400;
  letter-spacing: 0.03em;
}

.primary-navigation ul {
  list-style: none;
}

.hamburger-button {
  display: none;
}

@media (max-width: 50em) {
  .header {
    justify-content: space-between;
  }

  .primary-navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    z-index: -1;
    transform: translateX(100%);
  }

  .nav-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    font-size: 2rem;
    color: var(--primary-black);
    padding: 1em;
    background-color: var(--primary-white);
  }

  .nav-list li {
    border-bottom: 1px solid #252525;
    width: 100%;
    text-align: right;
    padding-bottom: 0.4em;
  }

  .hamburger-button {
    display: block;
    background: transparent;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    fill: var(--primary-black);
  }

  .hamburger-button svg {
    width: 30px;
  }
}
