.photo-section {
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1560px;
  margin-inline: auto;
}

.photo-section img {
  height: 300px;
  object-fit: cover;
  border-radius: 24px;
  filter: grayscale(1);
}

.titles-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 200px;
  padding: 24px;
  border-radius: 24px;
  background-color: var(--button-background-grey);
  font-size: 1.175rem;
  font-weight: 500;
  line-height: 1.7em;
}

@media (min-width: 800px) {
  .photo-section {
    padding: 96px;
    flex-direction: row;
    gap: 36px;
  }

  .image-wrapper {
    flex: 1;
  }

  .photo-section img {
    height: 400px;
  }

  .titles-section {
    height: 400px;
    flex: 0.5;
  }
}

@media (min-width: 1440px) {
  .photo-section img,
  .titles-section {
    height: 700px;
  }
}
