.hamburger-button {
  display: none;
}

@media (max-width: 879px) {
  .hamburger-button {
    display: block;
    background: transparent;
    border: none;
    fill: var(--primary-text);
    cursor: pointer;
  }

  .hamburger-button svg {
    display: block;
    width: 25px;
  }
}
