.hamburger-button {
  display: none;
}

@media (max-width: 50em) {
  .hamburger-button {
    display: block;
    background: transparent;
    border: none;
    fill: white;
  }

  .hamburger-button svg {
    display: block;
    width: 25px;
  }
}
