.main-navigation {
  display: block;
}

.drawer-backdrop {
  display: none;
}

@media (max-width: 50em) {
  .main-navigation {
    display: none;
  }

  .drawer-backdrop {
    display: block;
  }

  .main-navigation-drawer-nav {
    height: 100%;
  }
}
