.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 2em 1em; */
  padding: 1em 2.5em 0.2em 2.5em;
  position: fixed;
  width: 100%;
  z-index: 102;
}

@media (min-width: 880px) {
  .header {
    padding-inline: 96px;
    height: 120px;
  }
}
