.main-navigation {
  display: flex;
  gap: 40px;
}

.drawer-backdrop {
  display: none;
}

.hidden {
  display: none;
}
@media (max-width: 879px) {
  .main-navigation {
    display: none;
  }

  .hidden {
    display: block;
  }

  .drawer-backdrop {
    display: block;
  }

  .main-navigation-drawer-nav {
    height: 100%;
  }
}
