.nav-list {
  display: flex;
  gap: 3em;
  list-style: none;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.64);
  align-items: center;
}

.nav-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-list svg {
  width: 25px;
}

.active-hover {
  margin-top: 2px;
  width: 100%;
  height: 1px;
  background-color: white;
}

@media (max-width: 50em) {
  .nav-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-size: 1.5rem;
    padding: 1em;
  }

  .nav-list li {
    width: 100%;
    text-align: right;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #252525;
  }

  .nav-list li:last-child {
    border-bottom: none;
  }

  .nav-list svg {
    fill: #e2e0e0;
  }

  .active-hover {
    display: none;
  }
}
