.nav-list {
  display: flex;
  gap: 3em;
  list-style: none;
  font-size: 0.875rem;
  align-items: center;
  font-weight: 600;
  color: var(--secondary-text-grey);
}

.nav-list li {
  transition: color 0.4s;
}

.nav-list li:hover {
  color: var(--link-hover);
}

.nav-list svg {
  width: 25px;
}

@media (max-width: 879px) {
  .nav-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-size: 1.5rem;
    padding: 1em;
  }

  .nav-list li {
    width: 100%;
    text-align: right;
    padding-bottom: 0.4em;
  }

  .nav-list li:last-child {
    border-bottom: none;
  }
}
