.side-drawer {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 100vh;
  background: var(--button-background-grey);
}

@media (min-width: 600px) {
  .side-drawer {
    max-width: 350px;
    width: 70%;
  }
}

@media (min-width: 880px) {
  .side-drawer {
    display: none;
  }
}
