.text-block {
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6em;
  color: var(--secondary-text-grey);
  max-width: 1560px;
  margin-inline: auto;
}

@media (min-width: 800px) {
  .text-block {
    padding: 48px 96px;
  }

  .text-block p {
    width: 60%;
    margin-left: auto;
  }
}
