.side-drawer {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 300;
  height: 100vh;
  background: black;
  overflow-y: auto;
}

@media (min-width: 700px) {
  .side-drawer {
    max-width: 550px;
  }
}
