@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth !important;
}

body.lock-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* mask for technology display */
.mask {
  mask-image: linear-gradient(
    90deg,
    transparent 5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 50%,
    transparent 95%
  );
}
