.footer-section {
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-text);
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--secondary-text-grey);
}

.footer-links li:hover {
  color: var(--link-hover);
}

.footer-links a {
  padding: 0.2em;
}

.footer-links a:focus-visible {
  color: var(--link-hover);
  outline: 1px solid blue;
  border-radius: 10px;
}

.footer-links li {
  padding: 8px;
  transition: color 0.4s;
}

.email {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary-text);
}

@media (min-width: 800px) {
  .footer-section {
    padding: 96px;
  }

  .email {
    flex: 1;
  }

  .heading {
    font-size: 4rem;
  }

  .footer-links {
    flex-direction: row;
    align-items: center;
    gap: 48px;
  }
}

@media (min-width: 1440px) {
  .footer-section {
    flex-direction: row;
    align-items: flex-end;
  }

  .heading {
    font-size: 5rem;
  }

  .footer-links {
    flex: 1;
  }

  .email {
    text-align: right;
  }
}
