.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.contact-links-container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
}

.contact-links-container svg {
  width: 30px;
}

.footer-section svg {
  fill: white;
  width: 30px;
}

/* ----------- Logo Styles ----------- */

.logo div:last-child {
  font-size: 0.6em;
  letter-spacing: 0.4em;
}

.logo {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.1em;
}

@media (min-width: 50em) {
  .footer-section {
    padding: 2em 3em;
  }
}
