.footer-section {
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: rgba(255, 255, 255, 0.64);
}

.footer-links li {
  padding: 8px;
}

.email {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
}

@media (min-width: 800px) {
  .footer-section {
    padding: 96px;
  }

  .email {
    flex: 1;
  }

  .heading {
    font-size: 4rem;
  }

  .footer-links {
    flex-direction: row;
    gap: 48px;
  }
}

@media (min-width: 1440px) {
  .footer-section {
    flex-direction: row;
    align-items: flex-end;
  }

  .heading {
    font-size: 5rem;
  }

  .footer-links {
    flex: 1;
  }

  .email {
    text-align: right;
  }
}
